$primary-color: #555555;
$bg-color: #f9f9f9;
$bg-article-color:#ffffff;
$container-width: 600px;

body {
  font-family: Arial, sans-serif;
  background-color: $bg-color;
  text-align: center;
}

header{
  background-color: $primary-color;
  color: white;
  padding: 14px;
  font-size: 24px;
}

article {
  max-width: $container-width;
  margin: 10px auto;
  background: $bg-article-color;
  padding: 7px;
  border-radius: 10px;
}

h2 {
  color: $primary-color;
}

p {
  color: $primary-color;
}

footer {
  background-color: $primary-color;
  color: $bg-article-color;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
