article {
    max-width: 600px;
    margin: 10px auto;
    background: white;
    padding: 7px;
    border-radius: 10px;
  }
  
  .art_h2 {
    color: #333;
  }
  
  .art_p {
    font-size: 16px;
    color: #201919;
  }
  